*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: solid 1px black; */
}

/***************************************************
palette
***************************************************/



/***************************************************
variables
***************************************************/



/***************************************************
utility
***************************************************/



/***************************************************
general
***************************************************/
.card
{
    max-width: 800px;
}


/***************************************************
main
***************************************************/

/***************************************************
main
***************************************************/
/* hide arrows from input number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] 
{
  -moz-appearance: textfield;
}


